@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
   }
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin: 0 auto;
}
header {
    background-color: rgba(19, 19, 19, 1);
    color:  white;
    text-transform: uppercase;
}
.header__container {
    margin: 0 auto;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1263px;
}
.blog__container {
    max-width: 1263px;
    margin: 0 auto;
}
.page {
    color: rgba(227, 184, 115, 1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav__item {
    margin-right: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: white; 
}
a:hover {
    color: rgba(227, 184, 115, 1);
}
.home {
    color: rgba(227, 184, 115, 1);
}
.nav_number {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    cursor: pointer;
    color: #E3B873;
}
.button_header {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    border: 0;
    padding: 13px 33px;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}
.blog__page1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/page1/img1.png) center/cover;
}
.blog__page1__conteiner {
    max-width: 1263px;
    margin: 0 auto;
}
.blog__page1__heading {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 194px;
    margin-bottom: 19px;
}
.blog__page1__heading__city {
    color:rgba(227, 184, 115, 1);
}
.blog__page1__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    padding: 20px 42px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.button_glass {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    padding: 20px 22px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 208px;
    padding-left: 20px;
    text-transform: uppercase;
    margin-left: 20px;
}
.blog__page2 {
    background: #131313;
    padding-bottom: 416px;
    position: relative;
}
a {
    list-style: none;
}
.blog__container {
    max-width: 1263px;
    margin: 0 auto;
}

.blog__page2__container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 107px;
    margin-bottom: 52px;
    padding-left: 584px;
}
.blog__page2__container__nav__1 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__1:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__2:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__3:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__2 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.blog__page2__container__nav__3 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.blog__page2__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.blog__page2__content__text__objects {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    margin-bottom: 34px;
}
.blog__page2__content__text__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
}
h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.blog__page2__content__text__detail {
    display: flex;
    flex-wrap: wrap;
    padding-top: 42px;
}
.blog__page2__content__text__detail__city {
    display: flex;
    flex-direction: column;
    width: 161px;
}
.blog__page2__content__text__detail__city__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    width: 161px;
}
.blog__page2__content__text__detail__area {
    display: flex;
    flex-direction: column;
    margin-right: 89px;
    padding-left: 29px;
}
.blog__page2__content__text__detail__area__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF; 
}
.blog__page2__content__text__detail__time {
    display: flex;
    flex-direction: column;
    margin-right: 34px;
    width: 156px;
    padding-top: 34px;
}
.blog__page2__content__text__detail__time__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.blog__page2__content__text__detail__cost {
    display: flex;
    flex-direction: column;
    margin-right: 89px;
    padding-top: 34px;
}
.blog__page2__content__text__detail__cost__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.blog__page2__content__navigation {
    padding-top: 80px;
    display: flex;
    margin: 0;
    cursor: pointer;
}
.blog__page2__content__text__imgleft {
    margin-right: 29px;
}
.blog__page2__content__text__imgdotwt {
    margin-right: 17px;
}
.blog__page2__content__text__imgdotgr {     
    margin-right: 17px;
}
.blog__page2__content__text__imgright {
    padding-left: 12px;
}
.section3 {
    background: #ffffff;
}
.blog__container {
    max-width: 1263px;
    margin: 0 auto;
}
.titleh4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -298px;
    position: sticky;
}
.cameraimg {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
    position: relative;
}
.videoplay {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoplay__img {
    position: relative;
}

.z1 {
    position: absolute;
    z-index: 1;
}
.z2 {
    position: absolute;
    z-index: 2;
    background: #E3B873;
    border-radius: 50%;
    padding: 42px 42px;
    border: none;
    cursor: pointer;
}

.z3 {
    position: absolute;
    z-index: 3;
    cursor: pointer;
}
.hr_line {
    width: 55px;
    border: none;
    color: rgba(227, 184, 115, 1);
    background-color: rgba(227, 184, 115, 1);
    height: 2px; 
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
}
.titleh4-text {
    width: 681px;
    padding-top: 34px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 93px;
    
}
.online-control__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}
.online-control__lable {
    display: flex;
    flex-direction: column;
    width: 231px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.online-control__input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-top: 7px;
    padding-bottom: 6px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #363636;
}
.check {
    padding-top: 39px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.check__input {
    display: none;
}
.check__input:checked + .fake::before{
    opacity: 1;
  }
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
  }
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
  }
.check__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    cursor: pointer;
}
.titleh5 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-left: auto;
    margin-right: auto;
    padding-top: 147px;
    margin-bottom: 13px;
}
.toolimg {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 31px;
}
.tyres_of_repair__flex_container {
    display: flex;
    justify-content: space-between;
}
.title__style {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-top: 25px;
    margin-left: 31px;
    margin-right: 31px;
    max-width: 330px;
    margin-top: -127px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-left: 34px;

}
.Redicoration {
    display: flex;
    flex-direction: column;
}
.tyres_of_repair__item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 10px;
    margin-bottom: 23px;
}
.button__width {
    width: 228px;
    margin-top: -17px;
    margin-bottom: 124px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.Overhaul {
    display: flex;
    flex-direction: column;
}
.Designer_Repair {
    display: flex;
    flex-direction: column;
}
.page5 {
    background: url(../images/page5/image\ 6.1.svg) no-repeat;

}
.blog__container {
}
.page5__content {
    display: flex;
    justify-content: space-between;
}
.page5__content__text {
    padding-left: 95px;
    width: 420px;
    padding-top: 110px;

}
.page5__content__text__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.page5__content__text__button {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    padding: 21px 21px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-right: 21px;
}
.page5__content__text__p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636; 
}
.page5__content__text__2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.page5__content__text__3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.page5__content__text__4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.page5__content__form {
}



