@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
   }
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
    margin: 0 auto;
}
header {
    background-color: rgba(19, 19, 19, 1);
    color:  white;
    text-transform: uppercase;
}
.container {
    margin: 0 auto;
    height: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1263px;
}
.blog__container {
    max-width: 1263px;
    margin: 0 auto;
}
.page {
    color: rgba(227, 184, 115, 1);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.nav ul {
    display: flex;
    list-style: none;
}
.nav__item {
    margin-right: 47px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: white; 
}
a:hover {
    color: rgba(227, 184, 115, 1);
}
.home {
    color: rgba(227, 184, 115, 1);
}
.nav_number {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    cursor: pointer;
    color: #E3B873;
}
.button_header {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    border: 0;
    padding: 13px 33px;
    cursor: pointer;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}
.main {
}
.blog__page1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/page1/img1.png) center/cover;
}
.blog__page1__conteiner {
    max-width: 1263px;
    margin: 0 auto;
}
.blog__page1__heading {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 194px;
    margin-bottom: 19px;
}
.blog__page1__heading__city {
    color:rgba(227, 184, 115, 1);
}
.blog__page1__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    padding: 20px 42px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-right: 20px;
}
.button_glass {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    padding: 20px 22px;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.blog__page2 {
    background: #131313;
}
ul {
    list-style: none;
}
.blog__container {
    max-width: 1263px;
    margin: 0 auto;
}

.blog__page2__container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 107px;
    margin-bottom: 52px;
    padding-left: 584px;
}
.blog__page2__container__nav__1 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__1:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__2:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__3:hover {
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
}
.blog__page2__container__nav__2 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.blog__page2__container__nav__3 {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.blog__page2__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between
}
.blog__page2__content__text {

}
.blog__page2__content__text__objects {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    margin-bottom: 34px;
}
.blog__page2__content__text__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
}
.blog__page2__content__text__detail {
}
.blog__page2__content__text__detail__city {
}
.blog__page2__content__text__detail__city__info {
}
.blog__page2__content__text__detail__area {
}
.blog__page2__content__text__detail__area__info {
}
.blog__page2__content__text__detail__time {
}
.blog__page2__content__text__detail__time__info {
}
.blog__page2__content__text__detail__cost {
}
.blog__page2__content__text__detail__cost__info {
}
